*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #14213d;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-ExtraBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
}
